# Cypress environment variables
cypress.env.json

#from examples
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/

# Dependency directories
**/node_modules/

# Optional: Also exclude other common files
.env
.DS_Store
dist/
coverage/
cypress/videos/
cypress/screenshots/
cypress/reports/html/videos
cypress/reports/html/screenshots